@CHARSET "ISO-8859-1";

.first_time
{
   position: relative;
   margin-top: 25px;
   margin-left: 10px;
   width:700px;
   float: left;
}


.first_time h1
{
   color: #0B6121; 
   font-family: Calibri;
   font-size: 32px; 
}

.first_time p
{
   font-family: Calibri;
   font-size: 16px;  
   margin-left: 2px;
}

.first_time a
{
    color: #0B6121;
}

table
{
	border-spacing : 15px;
	border-collapse : separate;
	margin-top:10px;
	position:absolute;
	font-family:calibri;
}

.field
{
	list-style-type:none;
	padding:5px;
}

.field li
{
	padding-right:200px;
	margin-top:5px;
}

input[type="text"],input[type="password"],select
{
	width:350px;	
	height:22px;
	font-size:15px;
}

h4
{
	color: #0B6121;
}
