@CHARSET "ISO-8859-1";
table
{
	margin-top:50px;
	margin-left:70px;
	margin-bottom:10px;
	border-collapse:collapse;
	font-family:calibri;
    font-size:18px;
    color:#424242;
}

table td
{
	width:300px;
	text-align:left;
	padding:5px;
}